body{
    overflow-x: hidden
}
header{
    background-color: #141414;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 5px
}
header .search_box{
    display: none
}
header .search_box input{
    width: 250px;
    height: 40px;
    border-radius: 100px;
    background-color: #525252;
    border: none;
    margin-left: 10px
}
header .menu_icon img{
    width: 45px;
    height: 40px;
}
.body{
    height: 700px;
    background-color: #dedede;
    padding-top: 100px;
}
.side_bar{
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: #141414;
    z-index: 5000;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none
}
.side_bar .item{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    font-family: "Raleway";
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    color: white;
    border-top: #aaaaaa 1px dashed
}
.side_bar .item:last-child{
    border-bottom: #aaaaaa 1px dashed
}
.side_bar .item > div{
    position: relative
}
.side_bar .item > div > div{
    position: absolute;
    right: 0;
    top: 0;
    height: 23px;
    width: 50px;
    border-left: #aaaaaa 1px dashed;                         
}
.side_bar .item > div > div > img{
    width: 25px;
    height: 25px;
    display: block;
    margin: auto
}
.sub_side_bar{
    list-style: none;
    padding: 0px;
    background-color: #555555;
    display: none;
    margin-top: 10px
}